<!DOCTYPE html>
<html>
    <head>
        <title>My first Vue app</title>
        <!-- Vue.js Including -->
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

        <!--
        production version, optimized for size and speed
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        -->
    </head>
    <body>
        <div id ="vm">
            {{ message }}
        </div>

        <div id="vm-2">
            <span v-bind:title="message">
                Hover your mouse over me for a few seconds
                to see my dynamically bound title!
            </span>
        </div>

        <div id="vm-3">
            <span v-if="seen">Now you see me</span>
        </div>

        <div id ="vm-4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>

        <div id="vm-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>

        <div id="vm-6">
            <p>{{ message }}</p>
            <input v-model="message">
        </div>

        <div id="vm-7">
            <ol>
                <!-- 
                    Now we provide each todo-item with the todo object
                    it's representing, so that its content can be dynamic.
                    we also need to provide each component with a "key".
                -->
                <todo-item
                    v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind:key="item.id"
                ></todo-item>
            </ol>
        </div>

        <script>
            /*
                A Vue app attaches itself to a single DOM element ( #vm in our case)
                then fully controls it. The HTML is our entry point, but everything else
                happens within the newly created Vue instance.
            */ 
            var vm = new Vue({
                el: '#vm',
                data: {
                    message: 'Hello Vue!'
                }
            })

            /*
                The v-bind attribute you are seeing is called a directive. Directives
                are prefixed with v- to indicate that they are special attributes provided
                by Vue, and as you may guessed, they apply special reactive behavior to
                the redered DOM.
            */
            var vm2 = new Vue({
                el: '#vm-2',
                data: {
                    message: 'You loaded this page on ' + new Date().toLocaleString()
                }
            })

            /*
                This example demonstrates that we can bind data to not only text and
                attributes, but also the structure of the DOM.
            */
            var vm3 = new Vue({
                el: '#vm-3',
                data: {
                    seen: true
                }
            })

            /*
                The v-for directive can be used for displaying a list of items using 
                the data from an Array.
            */
            var vm4 = new Vue({
                el: '#vm-4',
                data: {
                    todos: [
                        { text: 'Learn JavaScript'},
                        { text: 'Learn Vue'},
                        { text: 'Build something awesome'}
                    ]
                }
            })

            /*
                To let users interact with your app, we can use the v-on directive to
                attach event listeners that invoke methods on our Vue instances.
            */
           var vm5 = new Vue({
               el: '#vm-5',
               data: {
                   message: 'Hello Vue.js!'
               },
               methods: {
                   reverseMessage: function () {
                       this.message = this.message.split('').reverse().join('')
                   }
               }
           })

           /*
                v-model directive makes two-way binding between from input and app state
                a breeze.
           */
          var vm6 = new Vue({
              el: '#vm-6',
              data: {
                  message: 'Hello Vue!'
              }
          })

          /*
            A component is essentially a Vue instance with pre-defined optinos.
          */
          // Define a new component called todo-item
          Vue.component('todo-item',{
              // The todo-item component now accepts a
              // "prop", which is like a custom attribute.
              // This prop is called todo.
              props: ['todo'],
              template: '<li>{{ todo.text }}</li>'
          })

          var vm7 = new Vue({
              el: '#vm-7',
              data: {
                  groceryList: [
                      { id: 0, text: 'Vegetables'},
                      { id: 1, text: 'Cheese'},
                      { id: 2, text: 'Whatever else humans are supposed to eat'}
                  ]
              }
          })
        </script>
    </body>
</html>